In [110]:
import pandas as pd
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import warnings
warnings.filterwarnings("ignore")
import pydot
from patsy import dmatrices
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [111]:
# Importing the data set of Adult Census Income from Kaggle
adults = pd.read_csv('adult.csv',na_values="?")
# Identify missing values as na_values - as this data had '?' as missing value treating that as same
adults_test = pd.read_csv('adult.csv',na_values="?")
adults.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,NaN,77053,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,NaN,186061,Some-college,10,Widowed,NaN,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [112]:
print(adults.isnull().sum())

age                  0
workclass         1836
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     583
income               0
dtype: int64

In [113]:
adults.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education.num      int64
marital.status    object
occupation        object
relationship      object
race              object
sex               object
capital.gain       int64
capital.loss       int64
hours.per.week     int64
native.country    object
income            object
dtype: object

In [114]:
adults["workclass"].value_counts()

Private             22696
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64

In [115]:
adults.fillna({"workclass": "Private"},inplace=True)

In [116]:
adults["occupation"].value_counts()

Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64

In [117]:
adults.fillna({"occupation": "Prof-specialty"},inplace=True)

In [118]:
adults["native.country"].value_counts()

United-States                 29170
Mexico                          643
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
Greece                           29
France                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Thailand                         18
Laos                             18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         13
Scotland                         12
Holand-Netherlands                1
Name: native.country, dtype: int64

In [119]:
adults.fillna({"native.country": "United-States"},inplace=True)

In [120]:

train_data = adults.drop('income',axis=1)
test_data = adults_test.drop('income',axis=1)

data = train_data.append(test_data)
incomegroup = adults['income'].append(adults_test['income'])

In [121]:
obj_cols = list(data.select_dtypes(include=['object']).columns.values)
print(obj_cols)

['workclass', 'education', 'marital.status', 'occupation', 'relationship', 'race', 'sex', 'native.country']

In [122]:
# Encoding object type to numeric type
le = LabelEncoder()
for i in obj_cols:
    dataset[i] = data.fit_transform(dataset[i])

AttributeError: 'DataFrame' object has no attribute 'fit_transform'

0    Private
dtype: object

0                 Private
1                 Private
2                     NaN
3                 Private
4                 Private
5                 Private
6                 Private
7               State-gov
8             Federal-gov
9                 Private
10                Private
11       Self-emp-not-inc
12                Private
13                Private
14                    NaN
15                Private
16                Private
17                Private
18                Private
19                Private
20                Private
21                Private
22                Private
23                Private
24                    NaN
25                Private
26                Private
27                Private
28           Self-emp-inc
29                Private
               ...
32531             Private
32532             Private
32533                 NaN
32534                 NaN
32535             Private
32536             Private
32537             Private
32538             Private
32539             Private
32540             Private
32541                 NaN
32542           State-gov
32543                 NaN
32544                 NaN
32545           Local-gov
32546             Private
32547           Local-gov
32548             Private
32549             Private
32550           State-gov
32551    Self-emp-not-inc
32552             Private
32553             Private
32554             Private
32555             Private
32556             Private
32557             Private
32558             Private
32559             Private
32560             Private
Name: workclass, Length: 32561, dtype: object